<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for schedule in schedules %}
        <h1>{{schedule.title}}</h1>
    
        <a href="{% url 'update_schedule' schedule.id %}">edit</a>
    {% endfor %}
</body>
</html>