<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
        .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
        }
      
        .form-signin .form-control {
          position: relative;
          box-sizing: border-box;
          height: auto;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: 10px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="text"] {
          margin-bottom: 10px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: -1px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      
        .h3{
          text-align: center;
        }
      
      </style>
      
      
      
    <title>Document</title>
    
      {# Include FontAwesome; required for icon display #}
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  
      {# Include Bootstrap 4 and jQuery #}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
      {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
      {{ form.media }}
    
  
</head>
<body>
    <form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
        
        <h1 class="h3 mb-3 font-weight-normal">article</h1>
      {{ form }}
        <!-- <input type="text" name="text" class="form-control" placeholder="title">
        <input type="text" name="text1" class="form-control" placeholder="title1"> -->
        <!-- <select name="cars" multiple>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            
        </select> -->
        
        
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">add</button>
      
      </form>
      
</body>
</html> 
