{% extends 'index.html' %}


{% block content %}
<style type="text/css">
   .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}

	.image {
	  opacity: 1;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.middle {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	
	}
	.image-group{
		position: relative;
  		text-align: center;
  		cursor:pointer;
	}

	.image-group:hover .image {
	  opacity: 0.3;
	}

	.image-group:hover .middle {
	  opacity: 1;
	}

	.text {
	  margin: auto;
	  background-color: #4CAF50;
	  color: white;
	  font-size: 15px;
	  padding: 15px;
	}
</style>
 {# Include FontAwesome; required for icon display #}
 <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

 {# Include Bootstrap 4 and jQuery #}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

 {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
 {{ form.media }}
<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">

			{% if success_message %}
				<h3 style="color:green; text-align: center;">{{success_message}}</h3>
			{% endif %}
            
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
                
				<!-- title -->
				<div class="form-group">
					<label for="id_title">Title</label>
					<input class="form-control" type="text" name="title" id="id_title" placeholder="Title" value="{{form.initial.title}}" required autofocus>
				</div>
				<div class="form-group">
					<label for="id_image">Image</label>
					<input type="file" id="id_image" name='image'>
				</div>
				<label for="id_datetime_field">Datetime field:</label>{{data}}
					<div class="input-group" id="div_id_datetime_field" data-target-input="nearest">
				  <input type="text" name="datetime_field"  id="id_datetime_field" class="form-control  datetimepicker-input" data-toggle="datetimepicker" data-target="#id_datetime_field">
				  
					<div class="input-group-append" data-target="#id_datetime_field" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar"></i></div>
						
					</div>
				  <div>
				  
					<script type="text/javascript">
					    
						function deferDateTimePicker_id_datetime_field() {
							// var date = new Date()

							
							// var dates = JSON.parse(datas);
							// console.log(date);
							if (window.jQuery && $.fn.datetimepicker) {
							
								$('#id_datetime_field').datetimepicker({"format": "YYYY-MM-DD HH:mm:ss", "icons": {"time": "fa fa-clock-o"},  "collapse": false});
							} else {
								setTimeout(function() { deferDateTimePicker_id_datetime_field() }, 50);
							}
						}
					
						deferDateTimePicker_id_datetime_field();
					</script>
				<!-- Body -->
				<div class="form-group">
					<label for="id_title">Owner</label>
					<input class="form-control" type="text" name="owner" id="id_title" placeholder="owner" value="{{form.initial.owner}}" required autofocus>
                </div> 
                
				<!-- {% for field in form %}
					<p>
						{% for error in field.errors %}
							<p style="color: red">{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				{% if form.non_field_errors %}
					<div style="color: red">
						<p>{{form.non_field_errors}}</p>
					</div>
				{% endif %} -->

				<!-- Submit btn -->
                <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Update</button>
                
            </form>	
            
		</div>
	</div>
</div>

{% endblock content %}
