*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background: #f8f8f8;
}

.fWidth{
    width: 100%;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0; !important;
}
.pl-10{
    padding-left: 10px;
}
.pr-10{
    padding-right: 10px;
}
.mr-10{
    margin-right: 10px;
}
.ml-0{
    margin-left: 0;
}
.p-10{
    padding: 0 10px;
}
.pb-10{
    padding-bottom: 10px;
}

.vavContainer{
    max-width: 1044px;
    padding: 0 10px;
    border-color: red;
    border-style: solid;
    border-width: 0 1px 0 1px;
    margin: auto;
}
.vavNav{
    height: 46px;
}
.flexRow{
    display: flex;
    align-items: center;
}
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.hr{
    width: 100%;
    /*background: black;*/
    border-bottom: 1px solid darkorange;

}

.vavLogo{
    width: 36px;
}
.vavLogoDiv p{
    text-align: center;
    padding: 0 10px 4px 10px;
    font-size: 18px;
    font-weight:bold;
}
.vavLogoDiv sup{
    font-size: 14px;
    color: darkgrey;
}
.vavSearchDiv{
    width: 60%;
    padding: 0 4%;
}
.searchInnerDiv{
    width: 100%;
    height: 32px;
}
.searchNseclect{
    width: 100%;
    height: 100%;
    margin: 0 3px;
    border: 1px solid gray;
    border-radius: 4px;
}
.searchNseclect input{
    width: 100%;
    padding: 0 5px;
    border-radius: 4px 0 0 4px;
    border: none;
}
.searchNseclect select{
    max-width: 100px;
    border: none;
    border-left: 1px solid gray;
    border-radius: 0 4px 4px 0;
}
.searchInnerDiv button{
    height: 100%;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid gray;
    background: transparent;
}
.vavInfoDiv{
    width: 30%;
}
.infoUl{
    width: 100%;
    justify-content: space-between;
}
.vavInfoDiv li{
    display: inline-block;
}
.vavInfoDiv a{
    text-decoration: none;
}

/*Station Nav*/
.radioBaseNav{
    background: red;
}
.stationLogoDiv{
    width: 50%;
}
.stationNav{
    height: 80px;
}
#stationLogo{
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;

}
.stationName{
    font-size: 18px;
    font-weight: bold;
}
.stationNameDiv span{
    font-size: 15px;
    color: lightgray;
}

.stationInfoDiv{
    width: 50%;

}
.stationInfoDiv li{
    display: inline-block;
    padding-left: 20px;
}

.stationInfoList{
    width: 100%;
    justify-content: flex-end;
}
.subscribes{
    height: 32px;
    padding: 0 10px;
    border-radius: 4px;
    border: 2px solid #ffd700;
    background: transparent;
    font-size: 18px;
    color: lightgray;
}
.radioMidDiv select{
    border: 2px solid lightgrey;
    border-radius: 4px;
    background: transparent;
    height: 30px;
    font-size: 16px;

    margin: 5px 0px;
    padding: 0px 10px
}


/*station Menu*/
.stationMenuBaseNav{
    background:rgba(255,255,255, 0.5);
    border-bottom: 1px dotted gray;
}
.stationMenuUl{
    width: 100%;
    height: 36px;
}
.stationMenuUl li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.stationMenuUl a{
    text-decoration: none;
    color: #34282C;
}
.fristDiv{
    width: 80%;
}
.secondDiv{
    width: 20%;
    justify-content: flex-end;
}
.subNum{
    font-size: 15px;
    color:#b6b6b4;
}

.jumboContainer{
    height: 300px;
    padding: 0;
}
.jumboImg{
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.captionDiv{
    width: 100%;
    height: 70px;
    padding: 0 10px;
    background:rgba(255, 255, 255, 0.5);
}
.w-100{
    width: 100%;
}

.rjFoto img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.imgDiv, .nameDiv{
    border:1px solid red;
    justify-content: center;
}
.playDiv{
    height: 350px;

    margin-top: 15px;
}
.imgBg{
    width: 100%;
    object-fit: cover;
}
.imgBg img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.showWrapper{
    width: 320px;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
}
.showInfo {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;

    /*padding:0 10px;*/
    justify-content: flex-start;

    overflow-x: hidden;
    overflow-y: auto;
    background: gold;
    right: 0; /*actual value (-ve eg: -17 px depends on browsers -webkit -moz) from js */
}
/*#showInfoo{
    right: 0px;
}*/

/*
.showInfo::-webkit-scrollbar {
    display: none;
}
*/

.showInfoSubDiv{
   /*width: 320px;*/
    width: 100%;
    height: auto;
    justify-content: flex-start;
    border: 1px solid cyan;
    padding:10px;

}
.rjProfile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.rjProfile{
    margin: 10px;
}
.onAirHeading{
    width: 100%;
    justify-content: flex-start;
}
.rjProfileDiv{
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
 }
.rjProfileDiv::-webkit-scrollbar{
    display: none;
}
.onAirHeading p{
    padding:0;
}

.checkBg{
    padding:0;
    margin: 0;
}
.checkBorder{
    padding: 0;
    border:1px solid red;
}
.rjPhotoDiv{
    height: 100%;
    justify-content: center;
}
.rjName{
    justify-content: center;
    align-items: center;
}
.divHeader{
    width: 100%;
}
.divHeader h2{
    padding:10px 0;
}
.divContent{
    width: 100%;
    height: 300px;
    background: white;
}
.vavFooter{
    height: 250px;
    background: gray;
    margin-top: 10px;
    justify-content: center;
}

.mRjz{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: red;
}
#currentItem{
    color: red;
    font-weight: bold;
}