<section class="playDiv vavContainer flexRow">
    <div class="imgBg h-100">
        <img src="img/pc24.jpg">
    </div>
    <div class="showWrapper  h-100"> <!--hide scrollbar-->
        <div id="showInfoo" class="showInfo flexCol h-100">
            <div class="showInfoSubDiv flexCol">
                <div class="onAirHeading flexCol">
                    <p>On Air: 20:00 - 20:30</p>
                    <p>Gorkha News</p>
                </div>
                <div class="mRjz  flexRow ">
                    <div class="rjProfile flexCol">
                        <div class="rjPhotoDiv flexRow w-100">
                            <img src="{%static 'img/img_avatar.png'%}">
                        </div>
                        <div class="rjName flexRow  w-100">
                            <p>Prayogadfga</p>
                        </div>

                    </div>
                    <div class="rjProfile flexCol">
                        <div class="rjPhotoDiv flexRow w-100">
                            <img src="{%static 'img/img_avatar2.png'%}">
                        </div>
                        <div class="rjName flexRow  w-100">
                            <p>Prayogad</p>
                        </div>
                    </div>
                    <div class="rjProfile flexCol">
                        <div class="rjPhotoDiv flexRow w-100">
                            <img src="{%static 'img/img_avatar2.png'%}">
                        </div>
                        <div class="rjName flexRow  w-100">
                            <p>Pra</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hr"></div>
            <div class="showInfoSubDiv flexCol ">

                <div class="onAirHeading flexCol">
                    <p>Next: 20:30 - 21:00</p>
                    <p>Gorkha Music</p>
                </div>

                <div class="rjProfileDiv flexRow">
                    <div class="rjProfile flexCol">
                        <img src="img/img_avatar.png">
                        <p>Manoz</p>
                    </div>


                </div>

            </div>
            <div class="hr flexCol"></div>
            <div class="showInfoSubDiv flexCol">
                <div class="onAirHeading flexCol">
                    <p>On Air: 20:00 - 20:30</p>
                    <p>Gorkha News</p>
                </div>
                <div class=" rjProfileDiv flexRow ">
                    <div class="checkBorder rjProfile flexCol">
                        <div class="rjPhotoDiv flexRow w-100">
                            <img src="img/img_avatar.png">
                        </div>
                        <div class=" flexRow  w-100">
                            <p>Prayogadfga</p>
                        </div>

                    </div>
                    <div class="rjProfile flexCol">
                        <img src="img/img_avatar2.png">
                        <p>Prayogadfga</p>
                    </div>

                </div>
            </div>
            <div class="hr flexCol"></div>
            <div class="showInfoSubDiv flexCol">
                <div class="onAirHeading flexCol">
                    <p>Next: 20:00 - 20:30</p>
                    <p>Gorkha Music</p>
                </div>
                <div class=" rjProfileDiv flexRow ">
                    <div class="checkBorder rjProfile flexCol">
                        <div class="rjPhotoDiv flexRow w-100">
                            <img src="img/img_avatar.png">
                        </div>
                        <div class=" flexRow  w-100">
                            <p>Prayogadfga</p>
                        </div>
                    </div>
                    <div class="rjProfile flexCol">
                        <img src="img/img_avatar2.png">
                        <p>Prayogadfga</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vavContainer flexCol">
    <div class="divHeader flexRow">
        <h2>News</h2>
    </div>
    <div class="divContent flexCol"></div>

</section>
<section class="vavContainer flexCol">
    <div class="divHeader flexRow">
        <h2>Nepali pop chart</h2>
    </div>
    <div class="divContent flexCol"></div>

</section>
<section class="vavFooter flexRow fWidth">
    <h2>pravav.com</h2>
</section>
<!--<section class="homeJumboImgBase fWidth">
    <div class="jumboContainer vavContainer">
        <div>
            <img class="jumboImg" src="img/pc24.jpg">
        </div>

        <div class="captionDiv flexRow">
            <div class="onAir flexCol">
                <p>On Air: 20:00 - 20:30</p>
                <h3>Gorkha News</h3>
            </div>
            <div class="rjProfile flexRow">
                <div class="rjFoto flexCol">
                    <div class="imgDiv w-100 flexRow">
                        <img src="img/img_avatar.png">
                    </div>
                   <div class="nameDiv w-100 flexRow">
                       <p>Manozlorem</p>
                   </div>

                </div>
                <div class="rjFoto flexCol">
                    <img src="img/img_avatar2.png">
                    <p>Prayog</p>
                </div>
            </div>
        </div>
    </div>
</section>-->
<script>
    /* remove scrollBar but able to scroll*/
    var x = document.getElementById('showInfoo');
    /*negative value */
    x.style.right = x.clientWidth - x.offsetWidth + 'px';
</script>