{% load static %}
{% include 'head.html' %}
<body>
<section class="vavBaseNav fWidth">
    <div class="vavNav vavContainer flexRow">

        <div class="vavLogoDiv flexRow h-100">
            <img class="vavLogo" src="{%static 'img/vLogo.png' %}">
            <p>PRAVAV<sup>NP</sup></p>
            <i class="fas fa-bars"></i>
        </div>

        <div class="vavSearchDiv flexRow h-100">
            <div class="searchInnerDiv flexRow">
                <button>Dev</button>
                <div class="searchNseclect flexRow h-100">
                    <input class="h-100" type="search" placeholder="search on pravav">
                    <div class="select-wrapper">
                        <select class="h-100">
                            <option>Pravav</option>
                            <option>Radio</option>
                            <option>Lipi</option> <!--fb clone /  LIPI: Script your life-->
                            <option>Education</option>
                            <option>Entertainment</option>
                            <option>gStuff</option> <!--Calendar, forex , converter (eg: ropani- acre, date ...)-->
                            <option>Literature</option>

                        </select>
                    </div>
                </div>
                <button>Search</button>
            </div>
        </div>
        <div class="vavInfoDiv flexRow h-100">
            <ul class="infoUl flexRow">
                <li><a id="currentItem" href="#">Radio</a></li>
                <!--if user hasn't signed in -->
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <!--if already signed in -->
                <!--
                 <li><a href="#">Sign In</a> </li>
                <li><a href="#">Sign Up</a> </li>
                -->
                <li><a href="#"><i class="fas fa-ellipsis-v"></i> </a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Pravav / Radio / station-->
<section class="radioBaseNav fWidth">
    <div class="stationNav vavContainer flexRow">
        <div class="stationLogoDiv flexRow">
            <div class="flexRow">
                <img id="stationLogo" src="{%static 'img/kfm.jpg'%}">
            </div>
            <div class="stationNameDiv flexCol">
                <p class="stationName">Radio Kantipur</p>
                <div class="flexRow">
                    <span>@kantipur-radio </span>

                </div>


            </div>

        </div>
        <div class="radioMidDiv">
            <select class="flexRow">
                <option>kathmandu</option>
                <option>Gorkha</option>
                <option>Pokhara</option>
            </select>
        </div>
        <div class="stationInfoDiv flexRow h-100">
            <ul class="stationInfoList flexRow ">

                <li>
                    <i class="fas fa-play"></i>
                </li>
                <li>
                    <i class="fas fa-search"></i>
                </li>
                <li>
                    <button class="subscribes">Subscribe</button>
                </li>
                <!--                <li class="flexRow"><button><i class="fas fa-bars"></i></button></li>-->
                <!--                <li><i class="fas fa-search"></i></li>-->
            </ul>
        </div>
    </div>
</section>

<!--station menu-->
<section class="stationMenuBaseNav fWidth">
    <div class="stationMenu vavContainer flexRow">
        <div class="fristDiv flexRow">
            <ul class="stationMenuUl flexRow h-100">
                <!--user can add/remove list items -->
                <li class="pl-0"><a href="#">Home</a></li>
                <li><a href="#">Post</a></li> <!--Lipi-->
                <li><a href="#">News</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Chart</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="{% url 'schedule_edit'%}">Schedule</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="secondDiv flexRow">
            <span class="subNum pl-10">888.8K subscribers</span>
        </div>
    </div>
</section>
<a href="{% url 'logout' %}">logout</a>
<h1>{{user.username}}</h1>
{% block content %}
{% endblock content %}
</body>
</html>