{% extends 'index.html' %}
{% block content %}
<h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'stationsignup' %}" class="btn btn-student btn-lg" role="button">Station</a>
  <a href="#" class="btn btn-teacher btn-lg" role="button">Listener</a>

{% endblock content %}