.inner{
    overflow: hidden;
    filter: brightness(1);
}
.inner img{
    transition: all .5s ease;
}
.inner:hover img{
    /* transform: scale(1.5); */
    filter: brightness(.8);
}
#card{
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0)
}
.vavFooter{
  height: 250px;
  background: gray;
  margin-top: 10px;
  justify-content: center;
}
.fWidth{
  width: 100%;
}
.flexRow{
  display: flex;
  align-items: center;
}

/* ul{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%,-50%);
  /* margin: 0;
  padding: 0; */
  /* display: flex; */
 
 ul li 
 {
  list-style: none;
 }
 ul li a 
 {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-align: center;
  /* font-size: 16px; */
  color: #262626;
  /* text-transform: uppercase; */
  text-decoration: none;
  transition: .5s;
 }
 /* ul li a:before
 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #262626;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
 }
 ul li a:hover:before
 {
  transform: scaleX(1);
  transform-origin: left;
 } */
 ul li a:after
 {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #262626;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
 }
 ul li a:hover:after
 {
  transform: scaleX(1);
  transform-origin: left;
 }

 img{
   max-width: 100%;
   max-height: 100%;
 }
#gurkha{
  padding: 1.2rem 7rem;
  margin-top: -30px;

}
#status:hover span{
  display: none;
}
#status:hover:before{
  content:"Unsubscribe!"
}
#gurkha-top{
  padding: 1.2rem 7rem;
  margin-top: -57px;
}
#detail123{
  background: #f2f2f2;
  color: #27292D;
  margin-top: -3.5rem;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  padding: 1.2rem 10rem;
  padding-bottom: -5px;
  
}
#detail123 img{
  height: 15vw;
 
}
/* EPISODE SECTION DESIGN ====================== */
.episode-section{
  padding: 1.2rem 10rem;
}
/*  button design=========================== */
.button {
  background-color: 	white; /* Green */
  border: 1px solid rgb(195, 187, 187);
  color: black;
  padding: 5px 25px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(209, 199, 199);
}
.button3 {border-radius: 18px;}
#gurkha-detail{
  padding: 0px -100px 0px;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0) linear-gradient(174.04deg, rgb(246, 248, 249) 0%, rgb(230, 234, 237) 100%) repeat scroll 0% 0%;
  /* height: 33vw; */
}
#gurkha-detail img{
  height: 18vw;
}
/* play design================================= */
.play{
  height: 100px;
  position:fixed;
  width: 100%;
  bottom: 0px;
  background-color: grey;
}
/* #play div{
  padding-top: 30px;
} */
.play-style{
  height: 40px;
  width:40px;
  border:1px solid #f2f2f2;
  border-radius: 100%;
  margin-top: 20px;
  cursor: pointer;
  /* background-color: red; */
}

/* SCHEDULE LIST ===================== */
.schedule-list{
 
    -moz-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2.4rem 0px;

}
#img-ad{border-radius: 10px;width: 100%;
  height: 13vw;object-fit: cover;}
 @media screen and (max-width: 1160px){
  #gurkha{
      padding-left:30px;
      padding-right: 30px;
      height: 23vw;
      margin-top: -160px;
      
  }
  #gurkha-top{
    padding-left:30px;
    padding-right: 30px;
    height: 23vw;
    margin-top: -50px;
    
}
  #img-ad{
    height: 20vw;
  }
  #detail123{
    padding-left: 30px;
    padding-right: 30px;
    /* height: 12vw; */
  }
  #detail123 img{
    height: 23vw;
    width: 23vw;
  }
  .episode-section{
    padding-left: 30px;
    padding-right: 30px;
  }
  #more-section{
    padding-top: 60px;
  }
}

@media screen and (max-width: 1000px){
  #gurkha{
    padding-left:30px;
    padding-right: 30px;
    height: 23vw;
    margin-top: -130px;
    
}
#gurkha-top{
  padding-left:30px;
  padding-right: 30px;
  height: 23vw;
  margin-top: -60px;
  
}
  #detail123{
    padding-left: 30px;
    padding-right: 30px;
    /* height: 12vw; */
  }
  #detail123 img{
    height: 33vw;
    width: 100%;
    /* width: 33vw; */
  }
  #more-section{
    padding-top: 60px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1000px){
  #more-section{
    padding-top: 380px;
    padding-bottom: 0px;
  }}
  @media screen and (max-width: 900px){
    #more-section{
      padding-top: 330px;
      padding-bottom: 0px;
    }}
  @media screen and (max-width: 800px){
    #more-section{
      padding-top: 740px;
padding-bottom: 0px;
    }}
    @media screen and (max-width: 700px){
      #more-section{
        padding-top: 1120px;
  padding-bottom: 0px;
      }}
      @media screen and (max-width: 600px){
        #more-section{
          padding-top: 1080px;
    padding-bottom: 0px;
        }}
        @media screen and (max-width: 500px){
          #more-section{
            padding-top: 940px;
      padding-bottom: 0px;
          }}
          @media screen and (max-width: 400px){
            #more-section{
              padding-top: 800px;
        padding-bottom: 0px;
            }}
@media screen and (max-width: 700px){
  #gurkha{
      padding-left:50px;
      padding-right: 50px;
      margin-top: -40px;
  }
  #gurkha-top{
    padding-left:50px;
    padding-right: 50px;
    margin-top: -60px;
}
  #img-ad{
    height: 38vw;
  }
  
}